*{
	margin:0px;
	padding:0px;}
ul,li{
	list-style:none;}
a{
	text-decoration:none;}
img{
	border:0px;}
.dakuang{
    height: 780px;
    width: 1024px;
    
    margin: 0px auto;
    
}
.toubu{
    height: 150px;
    width: 1024px;
    
    
}
.zhongbu{
    height: 500px;
    width: 1024px;
    background-color: aquamarine;
    
}
.dibu{
    height: 130px;
    width: 1024px;
    background-color: azure;
}
.toushang{
    height: 100px;
    width: 1024px;
    
}
.touxia{
    height: 50px;
    width: 1024px;
    background-color: bisque;
    
}
.tsleft{
    height:80px;
    width: 180px;
   
    float: left;
    margin-top: 10px;
    
    
}
.p1{
    font-size: 40px;
    color: chocolate;
}
.tsls{
    height: 60px;
    width: 58px;
    margin-top: 10px;
    float: left;
    
   
}
.tsly{
    height: 60px;
    width: 120px;
    float: right;
   
    margin-top: 10px;
}
.tscenter{
    height: 50px;
    width: 300px;
    background-color: blueviolet;
    float: left;
    margin-left: 200px;
    margin-top: 25px;
    
}
.srk{
    height: 46px;
    width: 252px;
    font-size: 20px;
    
}
.tsright{
    height: 50px;
    width: 100px;
   
    float: right;
    margin-top: 50px;
    margin-right: 26px;
    color: darkgray;
}
.login{
    line-height: 50px;
    
}