*{
	margin:0px;
	padding:0px;}
ul,li{
	list-style:none;}
a{
	text-decoration:none;}
img{
	border:0px;}
.dakuang{
    height: 780px;
    width: 1024px;
    background-color: #f5f4f7;
    margin: 0px auto;
    
}
.toubu{
    height: 150px;
    width: 1024px;
    
    
}
.zhongbu{
    height: 500px;
    width: 1024px;
/*    background-color: aquamarine;*/
    
}
.zhongbu1{
    height: 630px;
    width: 1024px;
}
.tupianliebiao{
			width:1024px;
			height:630px;
/*			background:#093;*/
			margin:auto;}
.tupianliebiao li{
			width:240px;
			height:300px;
/*			background:#09F;*/
			float:left;
			border:3px solid #FFF;
			margin:5px;}
.tupianliebiao li:hover{
	border:3px solid #000;
	}
.tupianliebiao li .tupian{
	width:240px;
	height:240px;
/*	background:#930;*/
	}
.tupianliebiao li .biaoti{
	
	height:40px;
/*	background:#96C;*/
	font-size:18px;
	color:#333;
	padding-left:10px;
	line-height:40px;
	}
.tupianliebiao li:hover .biaoti{
		color:#C00;
		text-decoration:underline;}
.tupianliebiao li .miaoshu{
	
	height:40px;
/*	background:#F3C;*/
	font-size:14px;
	color:#CCF;
	padding-left: 10px;
	line-height:40px;
	}
.tupianliebiao li:hover .miaoshu{
		color:#C00;
		text-decoration:underline;
		}
.zhbuz{
    height: 500px;
    width: 932;
    float: left;
}
.zhbuz img:hover{
    border: 1px solid black;
}
.zhbuy{
    height: 500px;
    width: 230px;
    float: right;
/*    background-color: forestgreen;*/
}
.gushiph{
    height: 290px;
    width: 260px;
/*    background-color: deepskyblue;*/
    margin-left: 12px;
    
}
.wangzhantj{
    height: 166px;
    width: 260px;
/*    background-color:darkviolet;*/
    margin-left: 12px; 
}
.zhongbu p{
    margin-left: 12px
}
.zs{
    height: 332px;
}
.zleft{
    height: 332px;
    width: 500px;
/*    background-color: cornflowerblue;*/
    float: left;
    
}
.zright{
    height: 332px;
    width: 250px;
/*    background-color: chartreuse;*/
    float: right;
    margin-left: 2px;
}
.zrs{
    height: 165px;
    width: 250px;
/*    background-color: bisque;*/
    margin-bottom: 2px;
}
.zrx{
    height: 165px;
    width: 250px;
/*    background-color: fuchsia;*/
    
}
.zx{
    height: 166px;
    margin-top: 2px;
    
}
.zxz{
    height: 166px;
    width: 250px;
/*    background-color: aqua;*/
    float: left;
}
.zxc{
    height: 166px;
    width: 250px;
/*    background-color:darkcyan;*/
    float: left;
}
.zxy{
    height: 166px;
    width: 250px;
/*    background-color:firebrick;*/
    float: right;
    margin-left: 2px;
}
.dibu{
    height: 130px;
    width: 1024px;
   
}
.toushang{
    height: 100px;
    width: 1024px;
    
}
.touxia{
    height: 50px;
    width: 1024px;
    
    
}
.daohang{
    height: 50px;
    width: 700px;
   
    float: right;
    margin-right: 324px;
    
}
.dhdh li{
    float: left;
    margin-left: 70px;
    line-height: 50px;
    
}
.dhdh li a{
    color: black;
}

.tsleft{
    height:80px;
    width: 180px;
   
    float: left;
    margin-top: 10px;
    
    
}
.p1{
    font-size: 40px;
    color: chocolate;
}
.tsls{
    height: 60px;
    width: 58px;
    margin-top: 10px;
    float: left;
    
   
}
.tsly{
    height: 60px;
    width: 120px;
    float: right;
   
    margin-top: 10px;
}
.tscenter{
    height: 50px;
    width: 300px;
/*   background-color: blueviolet;*/
    float: left;
    margin-left: 200px;
    margin-top: 25px;
    
}
.srk{
    height: 46px;
    width: 252px;
    font-size: 20px;
    
}

    

.tsright{
    height: 50px;
    width: 100px;
/*   background-color: fuchsia;*/
    float: right;
    margin-top: 50px;
    margin-right: 26px;
    color: darkgray;
}
.login{
    line-height: 50px;
    
}
.login a{
    color: black;
    
}
.gushiliebiao{
    text-align: center;
}
.wangzhan li a{
    color: black;
    font-size: 12px;
}
    
.wangzhan{
    text-align: center;
}
.gushiliebiao li a{
    color: black;
    font-size: 12px;
    
    
}
.lianxi{
    height: 80px;
    width: 200px;
    
  margin: auto;
   line-height: 80px;
    
}
.banquan{
    height: 50px;
    width: 200px;
    margin: auto;
}