<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link href="css/my.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="dakuang">
       <div class="toubu">
           <div class="toushang">
               <div class="tsleft">
                   <div class="tsls">
                       <img src="images/logo.png" height="60" width="58">
                   </div>
                   <div class="tsly">
                       <p class="p1">爱宝宝</p>
                   </div>
               </div>
               <div class="tscenter">
                  <div>
                      <input type="text" placeholder="请输入您喜欢的名称" class="srk">
<!--                      <img src="./images/sou.png" height="32" width="32" class="sousuo">-->
                  </div>
                   
               </div>
               <div class="tsright">
                  <div class="login">
                      <%if(name){%>
                        <span><a href="#"><%= name %></a></span>
                        <%}%>
                        <% if(!name) { %>
                            <span><a href="/login">登录</a></span><span>／</span><span><a href="/register">注册</a></span>
                        <% } %>
                  </div>
               </div>
           </div>
           
           <div class="touxia">
               <div class="daohang">
                   <ul class="dhdh">
                       <li><a href="/">首页</a></li>
                       <li><a href="/yuyan">寓言</a></li>
                       <li><a href="/tonghua">童话</a></li>
                       <li><a href="#">神话</a></li>
                       <li><a href="#">留言</a></li>
                       <li><a href="#">收藏</a></li>
                   </ul>
               </div>
           </div>
       </div>
       <div class="zhongbu">
         <div class="zhbuz">
             <div class="zs">
              <div class="zleft">
                  <a href="/xiangxi"><img src="./images/datou.jpg" height="332" width="500"></a>
              </div>
               <div class="zright">
                   <div class="zrs">
                       <a href=""><img src="./images/baixue.jpg" height="165" width="250"></a>
                   </div>
                   <div class="zrx">
                       <a href=""><img src="./images/meirenyu.jpg" height="165" width="250"></a>
                   </div>
               </div>
              </div>
              <div class="zx">
                  <div class="zxz">
                      <a href=""><img src="./images/daxiang.jpg" height="166" width="250"></a>
                  </div>
                  <div class="zxc">
                      <a href=""><img src="./images/shouzhu.jpg" height="166" width="250"></a>
                  </div>
                  <div class="zxy">
                      <a href=""><img src="./images/congming.jpg" height="166" width="250"></a>
                  </div>
              </div>
         </div>
         <div class="zhbuy">
            <p>故事排行榜</p>
             <div class="gushiph">
                 <ul class="gushiliebiao">
                     <li><a href="#">猴子捞月</a></li>
                     <li><a href="#">白雪公主</a></li>
                     <li><a href="#">小红帽</a></li>
                     <li><a href="#">小白兔与大灰狼</a></li>
                     <li><a href="#">美人鱼</a></li>
                     <li><a href="#">猴子捞月</a></li>
                     <li><a href="#">白雪公主</a></li>
                     <li><a href="#">小红帽</a></li>
                     <li><a href="#">小白兔与大灰狼</a></li>
                     <li><a href="#">美人鱼</a></li>
                     <li><a href="#">猴子捞月</a></li>
                     <li><a href="#">白雪公主</a></li>
                     <li><a href="#">小红帽</a></li>
                    
                     
                 </ul>
                 
             </div>
             <p>网站推荐</p>
             <div class="wangzhantj">
                <ul class="wangzhan">
                    <li><a href="#">猴子捞月</a></li>
                     <li><a href="#">白雪公主</a></li>
                     <li><a href="#">小红帽</a></li>
                     <li><a href="#">小白兔与大灰狼</a></li>
                     <li><a href="#">美人鱼</a></li>
                     <li><a href="#">猴子捞月</a></li>
                     <li><a href="#">白雪公主</a></li>
                </ul>
                 
                     
                     
             </div>
         </div>
          
           
       </div>
       <div class="dibu">
           <div class="lianxi">
               
               QQ:673225363
           </div>
           <div class="banquan">
               liqian &copy; 大连东软信息学院.
           </div>
       </div>
        
    </div>
</body>
</html>