<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link href="css/my.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="dakuang">
       <div class="toubu">
           <div class="toushang">
               <div class="tsleft">
                   <div class="tsls">
                       <img src="images/logo.png" height="60" width="58">
                   </div>
                   <div class="tsly">
                       <p class="p1">爱宝宝</p>
                   </div>
               </div>
               <div class="tscenter">
                  <div>
                      <input type="text" placeholder="请输入您喜欢的名称" class="srk">
                  </div>
                   
               </div>
               <div class="tsright">
                  <div class="login">
                      <%if(name){%>
                        <span><a href="#"><%= name %></a></span>
                        <%}%>
                        <% if(!name) { %>
                            <span><a href="/login">登录</a></span><span>／</span><span><a href="/register">注册</a></span>
                        <% } %>
                  </div>
               </div>
           </div>
           
           <div class="touxia">
               <div class="daohang">
                   <ul class="dhdh">
                       <li><a href="#">首页</a></li>
                       <li><a href="#">寓言</a></li>
                       <li><a href="#">童话</a></li>
                       <li><a href="#">神话</a></li>
                       <li><a href="#">留言</a></li>
                       <li><a href="#">收藏</a></li>
                   </ul>
               </div>
           </div>
       </div>
       <div class="zhongbu"></div>
       <div class="dibu"></div>
        
    </div>
</body>
</html>