<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link href="css/my.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="dakuang">
       <div class="toubu">
           <div class="toushang">
               <div class="tsleft">
                   <div class="tsls">
                       <img src="images/logo.png" height="60" width="58">
                   </div>
                   <div class="tsly">
                       <p class="p1">爱宝宝</p>
                   </div>
               </div>
               <div class="tscenter">
                  <div>
                      <input type="text" placeholder="请输入您喜欢的名称" class="srk">
<!--                      <img src="./images/sou.png" height="32" width="32" class="sousuo">-->
                  </div>
                   
               </div>
               <div class="tsright">
                  <div class="login">
                      <%if(name){%>
                        <span><a href="#"><%= name %></a></span>
                        <%}%>
                        <% if(!name) { %>
                            <span><a href="/login">登录</a></span><span>／</span><span><a href="/register">注册</a></span>
                        <% } %>
                  </div>
               </div>
           </div>
           
           <div class="touxia">
               <div class="daohang">
                <ul class="dhdh">
                    <li><a href="/">首页</a></li>
                    <li><a href="/yuyan">寓言</a></li>
                    <li><a href="/tonghua">童话</a></li>
                    <li><a href="#">神话</a></li>
                    <li><a href="#">留言</a></li>
                    <li><a href="#">收藏</a></li>
                </ul>
               </div>
           </div>
       </div>
       <div class="zhongbu1">
         
        
          <p class="jutiwenzi">
            
             <img src="./images/datou.jpg" height="300" width="300" align="left">
            &nbsp;&nbsp;《写给小熊的信》
大头儿子长大了不想开大飞机，而是想做一个养小熊的人。于是，小头爸爸把大头儿子带到深山老林里，见到了可爱的小熊。离开的时候，大头儿子告诉小熊，一定会写信给它们。可是森林里的邮递员却不知道应该怎么把信交给小熊。小熊最终收到了大头儿子写的信吗？大头儿子还想长大了做一个养小熊的人吗？
《一个很臭的主意》
上了幼儿园的大头儿子，一点都不想在规定的时间睡午觉，小头爸爸给他出了一个主意。大头儿子听小头爸爸的，中午钻到床底下自个儿玩。可是，这天中午，幼儿园里发生了一件事，小朋友们都乐翻了，大头儿子却一点都不知道，他气坏了。小头爸爸出的主意真是个臭主意啊！大头儿子错过了什么事呢？
《尿了一头大象》
早上醒来，大头儿子发现自己又尿床了，很难为情，跟围裙妈妈撒谎说是小狗尿的。小头爸爸在尿湿的被子上画了一头大象，还告诉大头儿子，自己小时候不光尿过大象，还尿过老虎哩。大头儿子还会感到难为情吗？
《会做玩具的爸爸》
大头儿子在玩具店看到一辆玩具赛车，可是太贵了，小头爸爸不想买。大头儿子生气了，决定去找大耳朵的爸爸做爸爸。可是在大耳朵家玩着玩具赛车，大头儿子忽然不高兴了，他跑回家，看到一排崭新的木头玩具车。原来，大头爸爸竟然是个会做玩具的爸爸呢！
         《写给小熊的信》
大头儿子长大了不想开大飞机，而是想做一个养小熊的人。于是，小头爸爸把大头儿子带到深山老林里，见到了可爱的小熊。离开的时候，大头儿子告诉小熊，一定会写信给它们。可是森林里的邮递员却不知道应该怎么把信交给小熊。小熊最终收到了大头儿子写的信吗？大头儿子还想长大了做一个养小熊的人吗？
《一个很臭的主意》
上了幼儿园的大头儿子，一点都不想在规定的时间睡午觉，小头爸爸给他出了一个主意。大头儿子听小头爸爸的，中午钻到床底下自个儿玩。可是，这天中午，幼儿园里发生了一件事，小朋友们都乐翻了，大头儿子却一点都不知道，他气坏了。小头爸爸出的主意真是个臭主意啊！大头儿子错过了什么事呢？
《尿了一头大象》
早上醒来，大头儿子发现自己又尿床了，很难为情，跟围裙妈妈撒谎说是小狗尿的。小头爸爸在尿湿的被子上画了一头大象，还告诉大头儿子，自己小时候不光尿过大象，还尿过老虎哩。大头儿子还会感到难为情吗？
《会做玩具的爸爸》
大头儿子在玩具店看到一辆玩具赛车，可是太贵了，小头爸爸不想买。大头儿子生气了，决定去找大耳朵的爸爸做爸爸。可是在大耳朵家玩着玩具赛车，大头儿子忽然不高兴了，他跑回家，看到一排崭新的木头玩具车。原来，大头爸爸竟然是个会做玩具的爸爸呢！
         写给小熊的信》
大头儿子长大了不想开大飞机，而是想做一个养小熊的人。于是，小头爸爸把大头儿子带到深山老林里，见到了可爱的小熊。离开的时候，大头儿子告诉小熊，一定会写信给它们。可是森林里的邮递员却不知道应该怎么把信交给小熊。小熊最终收到了大头儿子写的信吗？大头儿子还想长大了做一个养小熊的人吗？
《一个很臭的主意》
上了幼儿园的大头儿子，一点都不想在规定的时间睡午觉，小头爸爸给他出了一个主意。大头儿子听小头爸爸的，中午钻到床底下自个儿玩。可是，这天中午，幼儿园里发生了一件事，小朋友们都乐翻了，大头儿子却一点都不知道，他气坏了。小头爸爸出的主意真是个臭主意啊！大头儿子错过了什么事呢？
《尿了一头大象》
早上醒来，大头儿子发现自己又尿床了，很难为情，跟围裙妈妈撒谎说是小狗尿的。小头爸爸在尿湿的被子上画了一头大象，还告诉大头儿子，自己小时候不光尿过大象，还尿过老虎哩。大头儿子还会感到难为情吗？
《会做玩具的爸爸》
大头儿子在玩具店看到一辆玩具赛车，可是太贵了，小头爸爸不想买。大头儿子生气了，决定去找大耳朵的爸爸做爸爸。可是在大耳朵家玩着玩具赛车，大头儿子忽然不高兴了，他跑回家，看到一排崭新的木头玩具车。原来，大头爸爸竟然是个会做玩具的爸爸呢！
          </p>
           
       </div>
       
        
    </div>
</body>
</html>